<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.energeiapp.smano.app"
    android:versionCode="8"
    android:versionName="BETA">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permissin.VIBRATE"/>

    <uses-sdk
        tools:overrideLibrary="com.firebase.ui.auth, com.facebook, android.support.customtabs,
        com.twitter.sdk.android, com.twitter.sdk.android.tweetcomposer,
        com.twitter.sdk.android.tweetui,
        com.twitter.sdk.android.core"
        />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/lightbulb"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.energeiapp.smano.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.energeiapp.smano.app.NotifyService"/>
    </application>

</manifest>